# Pfad zum SSH-Key-Verzeichnis, das in den ansible-Container gemountet wird
SSH_DIR=

# Gmail App-Passwort für Grafana SMTP (Alerting)
# Erstellen unter: https://myaccount.google.com/apppasswords
GRAFANA_SMTP_PASSWORD=